.ToDoContainer {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f2f2f2;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center; 
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.ToDoContainer h1 {
  color: #333;
  margin-bottom: 20px;
}

.ToDoContainer.add-task {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-right: 10px;
  width: 60%; 
}

button {
  padding: 10px 20px;
  background-color: #8b4513;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

li {
  position: relative;
  padding: 15px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
}

.delete {
  color: #ff6347;
  cursor: pointer;
  position: relative; 
  left: 45%; 
  top: 3px;
  transform: translateX(-50%);
  visibility: hidden;
  font-size: 1.5em;
}

li:hover .delete {
  visibility: visible; 
}

.title {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  text-align: center;
  margin-top: 15px;
}

.no-tasks {
  font-size: 1.2em; 
  margin-top: 10px; 
}